{{> nav pageTitle}}

    <div class="row">

        {{>sidebar}}
        
              <table class="highlight centered responsive-table col s4">
                <thead>
                    <tr>
                        <th>League Name:</th>
                        <th><a href="/league/{{games.team.league_id}}">{{games.team.league.name}}</a></th>
                        <th>Team Name:</th>
                        <th><a href="/team/{{games.team_id}}">{{games.team.team_name}}</a></th>
                        <th>Player Name:</th>
                        <th>{{games.player_name}}</th>
                    </tr>
                </thead>
              </table>

              <br>

              <table class="highlight centered responsive-table col l9 m9 s12">
                <thead>
                  <tr>
                      <th>Game Number</th>
                      <th>At Bats</th>
                      <th>Hits</th>
                      <th>Walks</th>
                      <th>Strikeouts</th>
                      <th>RBIs</th>
                      <th>Runs Scored</th>
                      <th>Stolen Bases</th>
                      <th>Average</th>
                      <th>On Base Percentage</th>
                      <th>Innings Pitched</th>
                      <th>Earned Runs</th>
                      <th>Earned Run Average</th>
                      <th>Hits Given</th>
                      <th>Struckout</th>
                      <th>Walks Allowed</th>
                  </tr>
                </thead>
        
                <tbody>
                  {{#each games.games}}
                  <tr>
                    <td>{{inc @key}}</td>
                    <td>{{ab}}</td>
                    <td>{{hits}}</td>
                    <td>{{bb}}</td>
                    <td>{{strikeouts}}</td>
                    <td>{{rbi}}</td>
                    <td>{{rs}}</td>
                    <td>{{sb}}</td>
                    <td>{{gameAVG hits ab}}</td>
                    <td>{{gameOBP hits ab bb}}</td>
                    <td>{{innings}}</td>
                    <td>{{earned_runs}}</td>
                    <td>{{gameERA earned_runs innings}}</td>
                    <td>{{hitsGiven}}</td>
                    <td>{{k}}</td>
                    <td>{{walks}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="row container center">
                <form class="col card-panel l3" id="add-game">
                    <p>Enter New Game Stats in Fields Below and the Click Submit</p>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-ab" type="number" class="validate">
                          <label for="game-ab">Enter # of At Bats</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-hits" type="number" class="validate">
                          <label for="game-hits">Enter # of Hits</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-bb" type="number" class="validate">
                          <label for="game-bb">Enter # of Walks</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-strikeouts" type="number" class="validate">
                          <label for="game-strikeouts">Enter # of Strikeouts</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-rbi" type="number" class="validate">
                          <label for="game-rbi">Enter # of RBIs</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-rs" type="number" class="validate">
                          <label for="game-rs">Enter # of Runs Scored</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-sb" type="number" class="validate">
                          <label for="game-sb">Enter # of Stolen Bases</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-innings" type="number" step="0.1"class="validate">
                          <label for="game-innings">Enter # of Innings Pitched</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-earned-runs" type="number" class="validate">
                          <label for="game-earned-runs">Enter # of Earned Runs</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-hits-given" type="number" class="validate">
                          <label for="game-hits-given">Enter # of Hits Given Up</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="game-k" type="number" class="validate">
                          <label for="game-k">Enter # of Batters Struckout</label>
                        </div>
                      </div>
                    <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">assessment</i>
                      <input id="game-walks" type="number" class="validate">
                      <label for="game-walks">Enter # of Walks Allowed</label>
                      <button class="btn pink waves-effect waves-blue" type="submit">Submit
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                  </div>
                </form>
        </div>
  
      </div>
      {{> footer}}
<script src="/js/add-game.js"></script>