{{>nav pageTitle}}

    <div class="row">
        {{> sidebar}}
        
  
              <div class="row container center">
                <form class="col card-panel l3" id="add-player">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">directions_walk</i>
                      <input id="player-input" type="text" class="validate">
                      <label for="player-input">Add New Player's Name</label>
                      <button class="btn pink waves-effect waves-blue" type="submit">Submit
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                  </div>
                   <div class="input-field col s12">
                      <i class="material-icons prefix">supervisor_account</i>
                      <input id="player-input" type="text" class="validate">
                      <label for="player-input">Add Manager's Name</label>
                      <button class="btn pink waves-effect waves-blue" type="submit">Submit
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>

              <table class="highlight centered responsive-table col s4">
                <thead>
                    <tr>
                        <th>League Name:</th>
                        <th><a href="/league/{{players.league_id}}">{{players.league.name}}</a></th>
                        <th>Team Name:</th>
                        <th>{{players.team_name}}</th>
                        <th>Manager:</th>
                        <th>{{players.manager}}</th>
                    </tr>
                </thead>
              </table>

              <br>

              <table class="highlight centered responsive-table col l9 m9 s12">
                <thead>
                  <tr>
                      <th>Player Name</th>
                      <th>At Bats</th>
                      <th>Hits</th>
                      <th>Walks</th>
                      <th>Strikeouts</th>
                      <th>RBIs</th>
                      <th>Runs Scored</th>
                      <th>Stolen Bases</th>
                      <th>Average</th>
                      <th>On Base Percentage</th>
                      <th>Innings Pitched</th>
                      <th>Earned Runs</th>
                      <th>Earned Run Average</th>
                      <th>Hits</th>
                      <th>Strikeouts</th>
                      <th>Walks</th>
                  </tr>
                </thead>
        
                <tbody>
                  {{#each players.players}}
                  <tr>
                    <td><a href="/player/{{id}}">{{player_name}}</a></td>
                    {{{seasonStats games}}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
        </div>
  
      </div>

      {{> footer}}
<script src="/js/add-player.js"></script>